.sticky_header{
  position: sticky;
  z-index: 1;
  width: 100%;
  background-color: #0288D1;
}

.header__container{
  padding-right: 3rem;
  padding-left: 3rem;
}

.content{
  padding: 2vh 1vw;
}

.content__container{
  background-color: #1a227edc;
  border-radius: 7px;
  height: 100%;
  color: white;
}

.home_link{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  display: block;
  color: white;
}

.sider_fixed{
  position: fixed;
  left: 0;
  bottom: 0;
  min-height: 90vh;
}